body {
  background-image: url('../images/sky.png');
}

.alien-left {
  position: absolute;
  left : 9%;
  top: 0;
}

.alien-right {
  position: absolute;
  right : 20%;
  top: 40%;
}

canvas {
  margin-left: -38%;
}

canvas {
  animation: my_fade_animation 1.5s linear;
  -webkit-animation: my_fade_animation 3.0s linear;
}

@keyframes my_fade_animation {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes my_fade_animation {
  from { opacity:0; }
  to { opacity:1; }
}
