doctype html
html(ng-app='parasplat')
  head
    title Parasplat
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="css/style.css")
    link(rel='stylesheet', href="css/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href="css/cover.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src='css/dist/js/bootstrap.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js')
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript' sec='js/services.js')
    script(src='js/web-app.js')
    script(type="text/javascript" src="js/phaser.min.js")
    script(type="text/javascript" src="js/boot.js")
    script(type="text/javascript" src="js/preload.js")
    script(type="text/javascript" src="js/gametitle.js")
    script(type="text/javascript" src="js/main.js")
    script(type="text/javascript" src="js/gameover.js")
  body(ng-controller='UsersController')
    div(class="site-wrapper")
      div(class="site-wrapper-inner")
        div(class="cover-container")
          div(class="masthead clearfix")
            div(class="inner")
              h3(class="masthead-brand") Parasplat!
              nav
                ul(class="nav masthead-nav")
                  li(class="active")
                    a(href="#") Home
                  li(ng-show='!loggedIn')
                    a(href="/auth/google") Google Sign In!
                  li(ng-show='loggedIn')
                    a(href="#/user") {{user.displayName}}
          div(class='inner cover' ng-view)
            block content
